h2.group-name-nowrap {
    color: green;
    font-size: 12px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h2.group-name {
    white-space: pre-line;
    color: green;
    font-size: 12px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    //overflow-wrap: normal;
  }